# Rectify the code in each cell and **explain the error in comments**

### index error

In [6]:
mylist=[14, "hello", 967]
print mylist
#there wasn't "print"

[14, 'hello', 967]

In [4]:
import pandas as pd
import numpy as np 
#the problem is that they wrote import Pandas, they wrote import NumPy

# syntax error

In [13]:
print"python errors"
#its "print" not "Print"

python errors

# key error

In [15]:
mydictionnary={True:"hello",False:"bye", '3':"python"}

print mydictionnary
#they already said mydictionnary True but they said it again and they didnt write print mydictionnary

{False: 'bye', True: 'hello', '3': 'python'}

# indentation error

In [16]:
i=14
while i<78:
  print(i)
  i+=1
  #there was space between print and whats behind it same as "i+=1"

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [36]:

it=iter([1,2,3])
next(it)*4
#they wrote next(it) 4 times which we can Multiplication it

4

# TypeError

In [19]:
15+15
#they wrote '15' which it means its a string not a number

30

# ValueError

In [22]:
print(int())
#invalid literal for int()

0

# NameError

In [25]:
print

# ZeroDivisionError

In [35]:
x=0/4
print(x)
#integer division or modulo by zer

0